# IPsec Status Report

Timestamp (MYT): {{ ipsec_report_time_local }}

| Router | Established Tunnels | Installed SAs |
| --- | --- | --- |
{% for host in groups.get('all', []) | sort %}
{% set is_router = ('routers' in hostvars[host].group_names) or (hostvars[host].device_type | default('') == 'router') %}
{% if is_router %}
{% set established = hostvars[host].ipsec_established_lines | default([]) %}
{% set installed = hostvars[host].ipsec_installed_lines | default([]) %}
| {{ host }} | {{ (established | length > 0) | ternary(established | join('<br>'), 'None') }} | {{ (installed | length > 0) | ternary(installed | join('<br>'), 'None') }} |
{% endif %}
{% endfor %}
